<template name="borrowedBooks">
  <h4>My Borrowed Books</h4>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Owner</th>
        <th>Borrowed Date</th>
      </tr>
    </thead>
    <tbody>
     {{#each borrowedBooks}}
        <tr>
          <td><img src="{{thumb}}"></td>
          <td>{{title}}<br>by {{authors}}</td>
          <td>{{ownerName}}</td>
          <td>{{dateFormat borrowedAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
