<template name="googleBook">
  <div class="item">
    <div class="ui small image">
      <a href="{{previewLink}}">
        <img src="{{thumb}}">
      </a>
    </div>
    <div class="content">
      <a class="header" href="{{infoLink}}">{{title}}</a>
      <div class="meta">
        by <a>{{authors}}</a>
      </div>
      <div class="description">
        <p>{{{snippet}}}</p>
        <p>{{pages}} pages, published on {{publishedDate}} by {{publisher}}, ISBN: {{isbn13}}</p>
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Add to My Books
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>
</template>
