<template name="menu">
  <div class="ui menu">
    <div class="header item">
      Christian Library
    </div>
    <a class="item">
        {{> loginButtons}}
    </a>
    {{#if currentUser}}
    <a class="item user-item {{isActivePath regex='mybooks'}}" href="/mybooks">
      My Books
    </a>
    <a class="item user-item" href="/friends">
      Friends
    </a>
    {{/if}}
    <div class="right menu">
      {{#if currentUser}}
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Title, Author" id="search">
          <i class="search link icon"></i>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>
