<template name="mybooks">
  <h4>My Books</h4>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Added Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each mybooks}}
        <tr>
          <td><img src="{{thumb}}"></td>
          <td>{{title}}</td>
          <td>{{authors}}</td>
          <td>{{dateFormat createdAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{!--
    <h2>My Books</h2>
    <h4>Got Requested</h4>
    <div id="mybooks-requested">
      <ul>
        {{#each mybookRequests}}
        <li>
          {{bookTitle}} {{bookAuthors}}, Requested by {{borrowerName}}
          <button id="accept-request">Accept</button>
          <button id="deny-request">Deny</button>
        </li>
        {{/each}}
      </ul>
    </div>
    <h4>Lended</h4>
    <div id="mybooks-lended">
      <ul>
        {{#each myLendedBooks}}
        <li>{{bookTitle}} {{bookAuthors}} {{borrowerName}}</li>
        {{/each}}
      </ul>
    </div>
    <h4>Available</h4>
    <div id="mybooks">
      <ul>
        {{#each mybooks}}
        <li>{{bookTitle}} {{bookAuthors}}</li>
        {{/each}}
      </ul>
    </div>
    --}}
  </template>
