<template name="mybooks">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid ">
        <h4 class="mdl-cell mdl-cell--12-col">My Books</h4>
        <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Cover</th>
              <th class="mdl-data-table__cell--non-numeric">Title</th>
              <th class="mdl-data-table__cell--non-numeric">Authors</th>
              <th class="mdl-data-table__cell--non-numeric">Added Date</th>
            </tr>
          </thead>
          <tbody>
            {{#each mybooks}}
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><img src="{{thumb}}"></td>
              <td class="mdl-data-table__cell--non-numeric">{{title}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{authors}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{dateFormat createdAt}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  {{!--
    <h2>My Books</h2>
    <h4>Got Requested</h4>
    <div id="mybooks-requested">
      <ul>
        {{#each mybookRequests}}
        <li>
          {{bookTitle}} {{bookAuthors}}, Requested by {{borrowerName}}
          <button id="accept-request">Accept</button>
          <button id="deny-request">Deny</button>
        </li>
        {{/each}}
      </ul>
    </div>
    <h4>Lended</h4>
    <div id="mybooks-lended">
      <ul>
        {{#each myLendedBooks}}
        <li>{{bookTitle}} {{bookAuthors}} {{borrowerName}}</li>
        {{/each}}
      </ul>
    </div>
    <h4>Available</h4>
    <div id="mybooks">
      <ul>
        {{#each mybooks}}
        <li>{{bookTitle}} {{bookAuthors}}</li>
        {{/each}}
      </ul>
    </div>
    --}}
  </template>
