<template name="requestedBooks">
  <h4>My Requested Books</h4>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Owner</th>
        <th>Requested Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each requestedBooks}}
        <tr>
          <td><img src="{{thumb}}"></td>
          <td>{{title}}<br>by {{authors}}</td>
          <td>{{ownerName}}</td>
          <td>{{dateFormat requestedAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
